h1 {color: rgb(149, 57, 57); font-size: 50px; text-shadow: 13px 12px 5px greenyellow}
h2 {color:orange; font-size: 40px;}
p {font-size: 12; font-family: Arial, Helvetica, sans-serif;}
body {max-width: 1000px;
    margin-left:  50px;
    margin-right: 30px; background-color: aqua}
.stuff {
    width: 200px;
    height: 100px;
    animation-name: stuff;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    position: relative;
    }

    @keyframes stuff {
    20%   {background-color:aqua; left:200px; top:0px;}
  40%  {background-color:yellow; left:0px; top:0px;}
  60%  {background-color:blue; left:200px; top:0px;}
  80%  {background-color:green; left:0px; top:0px;}
  100% {background-color:aqua; left:200px; top:0px;}
  0%   { left:0px; top:0px;}
  50%  {left:100%; top:0;}
  100% {left:0px; top:0px;}
    }


.example {
    width: 1000px;
    height: 800px;
    background-color:rgba(0, 0, 0, 0);
    position: relative;
    animation-name: example;
    animation-duration: .1s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction:normal;
}
  
@keyframes example {
    0%   { left:0px; top:0px;}
    50%  {left:0%; top:50px;}
    100% {left:0px; top:0px;}
}
.spinning {
    animation-name: spinning;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    position: relative;}

    @keyframes spinning {
        0% {transform: rotate(0deg);}
        100% {transform: rotate(360deg);}
    }
    .jump {
        transform-origin: 0% 100%;
        animation: jump 1s linear alternate infinite;
        margin-left:  50px;
    margin-right: auto;
    }
    
    @keyframes jump {
        0%   {transform: translate3d(20%,0,0) scale3d(3,1,1);}
        50%  {transform: translate3d(0,100%,0) scale3d(1,2,2)}
        100% {transform: translate3d(10%,0,30%) scale3d(1,1,1);}
    }